body {
    margin: 0;  /* Remove default body margin */
    padding: 0;
}

.content-wrapper {
    max-width: 1920px;  /* Set a max-width to control the layout */
    margin: 0 auto;     /* Center the content horizontally */
    padding-left: 20px; /* Add space on the left */
    padding-right: 20px; /* Add space on the right */
    text-align: justify
} 
  
  h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 6vw;
    margin-top: 0.5em;
    font-weight: 350;
    text-align: center; 
}

h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3vw;
    font-weight: 250;
    text-align: center; 
    margin-top: 5vw;
}

p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2vw;
    font-weight: 200;
   
}

iframe {
    width: 100%;            /* Set the video width to 80% of the content wrapper */
    max-width: 1200px;      /* Set a maximum width */
    height: auto;           /* Let the browser calculate the height automatically based on the aspect ratio */
    aspect-ratio: 16 / 9;   /* Maintain the 16:9 aspect ratio */
    display: block;         /* Ensure the video behaves as a block element */
    margin: 0 auto;         /* Center the video horizontally */
}

#site-footer p {
    padding: 100px 0 0 0;      /* Padding on top */
    text-align: center;        /* Center the text */
    font-family: "Josefin Sans", sans-serif;  /* Set the font */
    font-size: 30px;            /* Set the font size for the paragraph */
    color: #333;               /* Set text color */
}

.concept-image {
    display: block;         /* Ensure the image behaves as a block element */
    max-width: 100%;        /* The image will scale down to fit within the container */
    height: auto;           /* Maintain the image's aspect ratio */
    margin: 0 auto;         /* Center the image horizontally */
}